# Hugo Files
/public/**
/resources/
/hugo_stats.json
/config.toml.toml.lock
/node_modules/
/.cache/
*.toml.lock

# Backup files
*.bak
*.swp
*.swo
*~

# OS Specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Optional Hugo Modules
.hugo_build.lock

# IDEs and Editors
/.vscode
